---
import Layout from "../layouts/Layout.astro";

import { GITHUB_WALLPAPER } from "../scripts/constants";
---

<Layout title="Home" description="Website for my wallpapers repo">
    <main class="h-full grow my-8 mx-52">
        <section class="flex flex-col justify-center items-center">
            <img
                src="/assets/welcome_image.jpg"
                alt="welcome"
                class="w-[320px] rounded-2xl my-7"
            />

            <h1 class="text-5xl">
                A website for a
                <a
                    href={GITHUB_WALLPAPER}
                    class="text-blue-500 hover:underline"
                    target="_blank">wallpaper</a
                >
                repo
            </h1>

            <a
                href="/wallpapers/Anime-Characters"
                class="relative my-9 bg-slate-500 p-2 rounded-full transition-[background-color] duration-500 ease-in-out hover:bg-slate-400"
            >
                <img
                    src="/assets/right_arrow.svg"
                    alt="right arrow"
                    class="inline-block"
                />
            </a>
        </section>
    </main>
</Layout>
