---
import Layout from "../layouts/Layout.astro";

import { GITHUB_WALLPAPER } from "../scripts/constants";

export const prerender = true;
---

<Layout title="Home" description="Website for my wallpapers repo">
    <main class="h-full grow my-8 mx-52 max-md:mx-6">
        <section class="flex flex-col justify-center items-center">
            <img
                src="/assets/welcome_image.jpg"
                alt="welcome"
                class="w-[320px] rounded-2xl my-7"
            />

            <h1 class="text-4xl text-center max-md:text-3xl">
                A website for a
                <a
                    href={GITHUB_WALLPAPER}
                    class="text-blue-500 hover:underline"
                    target="_blank">wallpaper</a
                >
                repo
            </h1>

            <a
                href="/wallpapers/Anime-Characters"
                class="text-xl my-9 bg-slate-500 p-3 px-5 rounded-lg transition-all duration-500 ease-in-out button-shadow hover:!shadow-none focus:!shadow-none"
            >
				Go
            </a>
        </section>
    </main>
</Layout>

<style>
	.button-shadow {
		box-shadow: 4px 5px 0 rgb(51, 65, 85);
	}
</style>
